/* Your existing styles */
.pagination-custom {
    margin-left: 400px;
}

.text-right-custom {
    margin-right: 20px;
}

/* New rules for consistent card height */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Make sure the card takes up the entire column height */
}

.card-body {
    flex-grow: 1;  /* Allow card-body to take up available space within the card */
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-img-top {
    width: 100%;  /* Ensures the image takes up the full width of the card */
    height: 200px;  /* Sets a fixed height */
    object-fit: cover;  /* Ensures the image covers the area without stretching */
}

.text-center {
    text-align: center;
}

.scrollable-table {
    max-height: 400px;
    overflow-y: auto;
    display: block;
}
.chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chart-box {
    text-align: center;
}

