{% macro form_field(type, name, label, options=[]) %}
    <div class="form-group">
        <label for="{{ name }}">{{ label }}:</label>
        {% if type == 'input' %}
            <input type="text" name="{{ name }}" class="form-control">
        {% elif type == 'textarea' %}
            <textarea name="{{ name }}" class="form-control"></textarea>
        {% elif type == 'select' %}
            <select name="{{ name }}" class="form-control">
                {% for option in options %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
        {% endif %}
    </div>
{% endmacro %}
