<!DOCTYPE html>
<html>

<head>
    <title>{{ sneaker.name }}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .sneaker-detail-image {
            max-width: 500px;  /* You can change this */
            max-height: 500px;  /* You can change this */
            margin: auto;
        }
    </style>
</head>

<body>

    {% include 'top_bar.html' %}

    <div class="container text-center">
        <h1>{{ sneaker.name }}</h1>
        <p>SKU: {{ sneaker.sku }}</p>
        <img src="{{ sneaker.image }}" alt="{{ sneaker.name }}" class="img-fluid sneaker-detail-image">
        <p>Description:</strong> {{ sneaker.description }}</p>
        <p>Size: {{ sneaker.size }}</p>
        <p>Brand: {{ sneaker.brand }}</p>
        <p>Model: {{ sneaker.model }}</p>
        <p>Condition: {{ sneaker.condition }}</p>
        <p>Location: {{ sneaker.location }}</p>
        <a class="btn btn-primary" href="{{ url_for('edit_sneaker', id=sneaker.id) }}">Edit</a>
        <a class="btn btn-secondary" href="{{ url_for('index') }}">Home</a>
    </div>

    <!-- Add these lines for Bootstrap JS components -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
